USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[GetAllBooks]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	Fornisce una lista di tutti libri con parametri opzionali
-- =============================================
CREATE PROCEDURE [dbo].[GetAllBooks] 
    @Title NVARCHAR(200) = NULL,
    @AuthorSurname NVARCHAR(200) = NULL,
    @AuthorName NVARCHAR(200) = NULL,
    @Publisher NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Debugging: stampa i parametri
    PRINT 'Title: ' + ISNULL(@Title, 'NULL');
    PRINT 'AuthorName: ' + ISNULL(@AuthorName, 'NULL');
    PRINT 'AuthorSurname: ' + ISNULL(@AuthorSurname, 'NULL');
    PRINT 'Publisher: ' + ISNULL(@Publisher, 'NULL');

    -- Query per ottenere i libri
	SELECT *
FROM Books
WHERE 
      (@Title IS NULL OR Title COLLATE SQL_Latin1_General_CP1_CI_AS = @Title COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@AuthorName IS NULL OR AuthorName COLLATE SQL_Latin1_General_CP1_CI_AS = @AuthorName COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@AuthorSurname IS NULL OR AuthorSurname COLLATE SQL_Latin1_General_CP1_CI_AS = @AuthorSurname COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@Publisher IS NULL OR Publisher COLLATE SQL_Latin1_General_CP1_CI_AS = @Publisher COLLATE SQL_Latin1_General_CP1_CI_AS);
/*
SELECT *
FROM Books
WHERE 
      (@Title IS NULL OR Title COLLATE SQL_Latin1_General_CP1_CI_AS LIKE '%' + @Title + '%') AND
      (@AuthorName IS NULL OR AuthorName COLLATE SQL_Latin1_General_CP1_CI_AS LIKE '%' + @AuthorName + '%') AND
      (@AuthorSurname IS NULL OR AuthorSurname COLLATE SQL_Latin1_General_CP1_CI_AS LIKE '%' + @AuthorSurname + '%') AND
      (@Publisher IS NULL OR Publisher COLLATE SQL_Latin1_General_CP1_CI_AS LIKE '%' + @Publisher + '%');
*/
END
GO
