USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[HistoryBySpecificUser]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	Richiama lo storico esclusivamente per uno specifico utente e filtra
			--  le prenotazioni per attive o passive
-- =============================================
CREATE PROCEDURE  [dbo].[HistoryBySpecificUser]( 
		-- Parametri Input --
	@UserId INT,
	@IncludeActive BIT = NULL )-- Nuovo parametro per filtrare i prestiti
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
    FROM dbo.HistoryByIdUser(@UserId,@IncludeActive );

END
GO
