USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[DeleteReservation]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteReservation]
    --Parametro Input--
    @IdReservation INT
AS
BEGIN

    --SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- VALIDAZIONE PARAMETRI --
    IF @IdReservation IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: Inserire un ID valido.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
        RETURN; -- Esci immediatamente
    END;

    -- Verifica l'esistenza della prenotazione
    IF NOT EXISTS (
        SELECT 1 
        FROM Reservations
        WHERE Id = @IdReservation
    )
    BEGIN
        SET @ResultMessage = 'Errore: La prenotazione con l''ID specificato non esiste.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
        RETURN; -- Esci immediatamente
    END;

    -- Gestione della transazione per l'eliminazione
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Cancella la prenotazione
        DELETE FROM Reservations
        WHERE Id = @IdReservation;

        -- Conferma la transazione
        COMMIT TRANSACTION;

        -- Messaggio di successo
        SET @ResultMessage = 'Prenotazione eliminata con successo.';
        PRINT @ResultMessage; -- Stampa il messaggio di successo
    END TRY
    BEGIN CATCH
        -- Gestione degli errori
        ROLLBACK TRANSACTION;

        -- Restituisce un messaggio di errore specifico
        RAISERROR('Errore durante la cancellazione. Operazione annullata.', 16, 1);
    END CATCH;
END;

GO
