USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[GetAllReservations]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[GetAllReservations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id,
		   UserId,
		   BookId,
		   StartDate,
		   EndDate--SELECT * non è best practice
	FROM Reservations
	ORDER BY StartDate;
END
GO
