USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[ReturnBookQuantity]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco Corona>
-- Create date: <06/12/2024>
-- Description:	<Restituisce la quantità di un libro >
-- =============================================
CREATE FUNCTION [dbo].[ReturnBookQuantity] (@bookId INT) --SPECIFICO IL PARAMETRO IN INGRESSO

RETURNS INT --SPECIFICO IL PARAMETRO CHE DEVE RITORNARE
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result INT ;

	-- Add the T-SQL statements to compute the return value here
	
	SELECT @Result = Quantity  -- Specifico che parametro deve trovare 
	FROM Books AS b  
	WHERE b.BookId = @bookId;

	    -- Controllare se @Result è NULL
    IF @Result IS NULL
    BEGIN
        SET @Result = 0; -- Assegna 0 al risultato
        RETURN @Result; -- Restituisce il risultato
    END

    -- Restituisce il risultato calcolato
    RETURN @Result;




END
GO
