USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Marco Corona
-- Create date:  09/12/2024
-- Description:  Login procedure with whitespace handling
-- =============================================
CREATE PROCEDURE [dbo].[Login] 
    -- PARAMETRI INPUT
    @Username NVARCHAR(200),
    @Password NVARCHAR(200),
    @Role NVARCHAR(200) OUTPUT,
    @UserId INT OUTPUT
AS
BEGIN
    -- Impedisce risultati extra
    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- Normalizzazione degli input
    SET @Username = LTRIM(RTRIM(@Username));
    SET @Password = LTRIM(RTRIM(@Password));

    -- VALIDAZIONE PARAMETRI --
    IF @Username IS NULL OR @Password IS NULL OR @Username = '' OR @Password = ''
    BEGIN
        SET @ResultMessage = 'Inserire username e password.';
        RAISERROR(@ResultMessage, 16, 1); -- Genera errore con gravità 16
        RETURN; -- Esci
    END;

    -- VERIFICA SE ESISTE L'UTENTE
    IF NOT EXISTS (
        SELECT 1
        FROM Users AS u
        WHERE LTRIM(RTRIM(u.Username)) = @Username AND
              LTRIM(RTRIM(u.Password)) = @Password)
    BEGIN
        SET @ResultMessage = 'Utente non trovato o password errata.';
        RAISERROR(@ResultMessage, 16, 1); -- Genera errore con gravità 16
        RETURN; -- Esci
    END;
    ELSE
    BEGIN
        -- LOGIN AVVENUTO CON SUCCESSO
        SELECT 
            @Role = u.Role, 
            @UserId = u.UserId
        FROM Users AS u
        WHERE LTRIM(RTRIM(u.Username)) = @Username AND
              LTRIM(RTRIM(u.Password)) = @Password;

        SET @ResultMessage = 'Login effettuato con successo.';
        SELECT @ResultMessage AS ResultMessage; -- Ritorna il messaggio di successo
    END;
END;

GO
