USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[HistoryByBookOptionalParameters]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HistoryByBookOptionalParameters]
(	
	-- Parametri di Input
	@Title NVARCHAR(200) = NULL,
    @AuthorSurname NVARCHAR(200) = NULL,
    @AuthorName NVARCHAR(200) = NULL,
    @Publisher NVARCHAR(200) = NULL,
	@IdUser INT = NULL,
	@IncludeActive BIT = NULL -- Nuovo parametro per filtrare i prestiti
)
RETURNS TABLE 
AS
RETURN 
(
	-- Query principale
	SELECT 
	   r.BookId AS Codice_Libro,
	   b.Title AS Titolo,
       u.Username AS Nome_Utente,
	   r.StartDate AS Inizio_Prestito,
	   r.EndDate AS Fine_Prestito,
	   CASE 
	        WHEN r.EndDate <= GETDATE() THEN 'Non Attivo'
	        WHEN r.EndDate > GETDATE() THEN 'Attivo'
	        ELSE 'Stato Sconosciuto' -- Caso di sicurezza
	   END AS Stato 

	FROM Reservations AS r
	JOIN Books AS b ON r.BookId = b.BookId -- Relazione tra Reservation e Book
	JOIN Users AS u ON r.UserId = u.UserId -- Relazione tra Reservation e User
	
	WHERE 
		-- Filtri opzionali
		(@Title IS NULL OR b.Title = @Title) AND
		(@AuthorName IS NULL OR b.AuthorName = @AuthorName) AND
		(@AuthorSurname IS NULL OR b.AuthorSurname = @AuthorSurname) AND
		(@Publisher IS NULL OR b.Publisher = @Publisher) AND
		(@IdUser IS NULL OR r.UserId =@Iduser)AND
		-- Filtro sui prestiti basato su @IncludeActive
		(
			 @IncludeActive IS NULL OR -- Mostra tutti i prestiti
			(@IncludeActive = 1 AND r.EndDate > GETDATE()) OR -- Mostra solo prestiti attivi
			(@IncludeActive = 0 AND r.EndDate <= GETDATE()) -- Mostra solo prestiti non attivi
		)
);
GO
