USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidateParameters]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	VALIDA la presenza degli ID per l'identificazione della RESERVATIONS
-- =============================================
CREATE FUNCTION [dbo].[ValidateParameters]
(
    @IdUser INT,
    @IdBook INT,
    @IdReservation    INT
)
RETURNS BIT -- Ritorna 1 per errore, 0 per successo
AS
BEGIN
    IF (@IdUser IS NULL OR 
        @IdBook IS NULL OR
		@IdReservation IS NULL )
       
    BEGIN
        RETURN 1; -- Parametri non validi
    END

    RETURN 0; -- Parametri validi
END;
GO
