USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[FindUserById]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	Restituisce un utente tramite ID
-- =============================================
CREATE PROCEDURE [dbo].[FindUserById]
    @idUser INT,                  -- PARAMETRO INPUT
    @Username VARCHAR(200) OUTPUT -- PARAMETRI OUTPUT
   -- @Password VARCHAR(200) OUTPUT,
   --@Role VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- VALIDAZIONE PARAMETRI
    IF @idUser IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: ID utente non specificato.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END

    -- CERCA L'UTENTE
    IF NOT EXISTS (
        SELECT 1
        FROM Users AS u
        WHERE u.UserId = @idUser
    )
    BEGIN
        SET @ResultMessage = 'Utente non trovato.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END

    -- RECUPERA I DETTAGLI DELL'UTENTE
    SELECT 
        @Username = u.Username
        --@Password = u.Password, -- NOTA: Gestire in modo sicuro!
       -- @Role = u.Role
    FROM Users AS u
    WHERE u.UserId = @idUser;

    -- RESTITUISCE UN MESSAGGIO DI SUCCESSO
    SET @ResultMessage = 'Utente trovato con successo.';
    PRINT @ResultMessage;
END
GO
