USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBook]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBook]
    @Title NVARCHAR(200),
    @AuthorName NVARCHAR(200),
    @AuthorSurname NVARCHAR(200),
    @Publisher NVARCHAR(200),
    @ResultMessage NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dichiarazione delle variabili locali
    DECLARE @BookId INT;

    -- Validazione input
	--LTRIM: Elimina tutti gli spazi bianchi (caratteri di spazio) a sinistra di una stringa.
     --RTRIM: Elimina tutti gli spazi bianchi (caratteri di spazio) a destra di una stringa.
	
    IF (LTRIM(RTRIM(@Title)) = '' OR LTRIM(RTRIM(@AuthorName)) = '' OR 
        LTRIM(RTRIM(@AuthorSurname)) = '' OR LTRIM(RTRIM(@Publisher)) = '')
    BEGIN
        SET @ResultMessage = 'Errore: tutti i campi devono essere compilati.';
        RETURN;
    END

    -- Verifica se il libro esiste
    IF EXISTS (
            SELECT 1
            FROM Books
            WHERE TRIM(Title) COLLATE SQL_Latin1_General_CP1_CI_AS =TRIM(@Title)
            AND TRIM(AuthorName) COLLATE SQL_Latin1_General_CP1_CI_AS =TRIM(@AuthorName)
            AND TRIM(AuthorSurname) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorSurname)
            AND TRIM(Publisher) COLLATE SQL_Latin1_General_CP1_CI_AS =TRIM(@Publisher)
    )
    BEGIN
        -- Recupera l'ID del libro
        SELECT @BookId = BookId
        FROM Books
        WHERE Title = @Title
          AND AuthorName = @AuthorName
          AND AuthorSurname = @AuthorSurname
          AND Publisher = @Publisher;

        -- Gestione transazione
        BEGIN TRY
            BEGIN TRANSACTION;

            -- Cancella le prenotazioni associate al libro
            DELETE FROM Reservations
            WHERE BookId = @BookId;

            -- Cancella il libro dalla tabella Books
            DELETE FROM Books
            WHERE BookId = @BookId;

            -- Conferma la transazione
            COMMIT TRANSACTION;

            -- Messaggio di successo
            SET @ResultMessage = 'Libro e prenotazioni associati eliminati con successo.';
        END TRY
        BEGIN CATCH
            -- Annulla la transazione in caso di errore
            ROLLBACK TRANSACTION;
            SET @ResultMessage = 'Errore durante la cancellazione. Operazione annullata.';
        END CATCH;
    END
    ELSE
    BEGIN
        SET @ResultMessage = 'Errore: libro non trovato.';
    END;
END;
GO
