USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[GetFirstAvailableDate]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	Restituisce la prima data utile per le prenotazione di un libro 
-- =============================================
CREATE PROCEDURE [dbo].[GetFirstAvailableDate] 
    -- Parametri di Input --
    @BookId INT,
    -- Parametri di Output --
    @lastDateAvailable DATE OUTPUT
AS
BEGIN

    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- Validazione dei parametri --
    IF @BookId IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: parametro non inserito';
        RAISERROR(@ResultMessage, 16, 1); -- Lancia un errore
        RETURN; -- Esci
    END;

    -- TROVA LA PRIMA DATA UTILE
    IF EXISTS (
        SELECT 1
        FROM Reservations AS r
        WHERE r.BookId = @BookId
    )
    BEGIN
        -- Ottieni la data di fine prenotazione più vicina
        SELECT TOP 1 @lastDateAvailable = EndDate -- RESTITUISCE SOLO LA PRIMA RIGA 
        FROM Reservations AS r
        WHERE r.BookId = @BookId
        ORDER BY EndDate ASC;

        -- Messaggio di successo
        SET @ResultMessage = 'Data trovata con successo';
        SELECT @ResultMessage AS ResultMessage;
    END
    ELSE
    BEGIN
        -- Se non ci sono prenotazioni, imposta la data a NULL o a una data predefinita
        SET @lastDateAvailable = NULL;

        -- Messaggio di errore
        SET @ResultMessage = 'Nessuna prenotazione trovata per il libro specificato';
        SELECT @ResultMessage AS ResultMessage;
    END;
END;
GO
