USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[FindUserByUsername]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        Marco Corona
-- Create date:   09/12/2024
-- Description:   Ricerca l'utente tramite Username
-- =============================================
CREATE PROCEDURE [dbo].[FindUserByUsername]
    @Username NVARCHAR(200),
    @IdUser INT OUTPUT,
	@Password NVARCHAR(200) OUTPUT,
	@Role NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- VALIDAZIONE INPUT
    IF (@Username IS NULL OR LTRIM(RTRIM(@Username)) = '')
    BEGIN
        SET @ResultMessage = 'Errore: inserire un Username valido.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END

    -- Controllo se l'utente esiste
    IF EXISTS (
        SELECT 1
        FROM Users AS u
        WHERE u.Username = @Username
    )
    BEGIN
        -- Recupero ID dell'utente
        SELECT @IdUser = u.UserId,@Password=Password,@Role=Role
        FROM Users AS u
        WHERE u.Username = @Username;

        -- Opzionalmente restituisci l'utente completo
        SELECT *
        FROM Users AS u
        WHERE u.Username = @Username;
    END
    ELSE
    BEGIN
        SET @ResultMessage = 'Errore: utente non trovato.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END
END
GO
