USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[HistoryByIdUser]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HistoryByIdUser]
(	
	-- Parametri Input --
	@UserId INT,
	@IncludeActive BIT = NULL -- Nuovo parametro per filtrare i prestiti
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
	   r.BookId AS Codice_Libro,
	   b.Title AS Titolo,
       u.Username AS Nome_Utente,
	   r.StartDate AS Inizio_Prestito,
	   r.EndDate AS Fine_Prestito,
	   CASE 
	        WHEN r.EndDate <= GETDATE() THEN 'Non Attivo'
	        WHEN r.EndDate > GETDATE() THEN 'Attivo'
	        ELSE 'Sconosciuto'
	   END AS Status 

	FROM Reservations AS r
	JOIN Books AS b ON r.BookId = b.BookId -- Relazione tra Reservation e Book
	JOIN Users AS u ON r.UserId = u.UserId -- Relazione tra Reservation e User
	
	WHERE 
		u.UserId = @UserId AND -- Filtra per utente
		(
			@IncludeActive IS NULL OR -- Mostra tutti i prestiti
			(@IncludeActive = 1 AND r.EndDate > GETDATE()) OR -- Mostra solo prestiti attivi
			(@IncludeActive = 0 AND r.EndDate <= GETDATE()) -- Mostra solo prestiti non attivi
		)
);

GO
