USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[HistoryCompleteWithFilter]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 11/12/2024
-- Description:	Storico Completo con filtri
-- =============================================
CREATE PROCEDURE [dbo].[HistoryCompleteWithFilter] (
	-- Add the parameters for the stored procedure here
	-- Parametri Input
    @IncludeActive BIT= NULL -- Filtro per prestiti attivi (1), non attivi (0), o tutti (NULL))
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
    FROM dbo.HistoryCompleteByActiveOrNotOrAll(@IncludeActive)
END
GO
