USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBookById]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona	
-- Create date: 10/12/2024
-- Description:	Elimina il libro attraverso l'Id
-- =============================================
CREATE PROCEDURE [dbo].[DeleteBookById]
--Input
@BookId INT
AS
BEGIN

	--SET NOCOUNT ON;

	-- Variabile per messaggi di risultati
	DECLARE @ResultMessage NVARCHAR(200);

	--Validazione Parametro
	IF @BookId IS NULL
	BEGIN
		SET @ResultMessage ='Errore: Specificare un ID valido.';
		RAISERROR(@ResultMessage,16,1);
		RETURN;
	END;

	--Controlla se il libro esiste
	IF NOT EXISTS (SELECT 1 FROM Books WHERE BookId = @BookId)
	BEGIN
		SET @ResultMessage = 'Errore : Libro non trovato.';
		RAISERROR(@ResultMessage,16,1);
		RETURN;
	END;
	
	--Gestione transazione
	BEGIN TRY
		BEGIN TRANSACTION;

		-- Cancella le prenotazioni associate al libro
		DELETE FROM Reservations
		WHERE BookId = @BookId;

		-- Cancella il libro dalla tabella Books
		DELETE FROM Books
		WHERE BookId = @BookId;

		-- Conferma la transazione
		COMMIT TRANSACTION ;

		-- Messaggio di successo
		SET @ResultMessage ='Libro e prenotazioni associate eliminate con successo.';
		PRINT @ResultMessage;
	END TRY
	    BEGIN CATCH
        -- Annulla la transazione in caso di errore
        ROLLBACK TRANSACTION;

        -- Restituisce l'errore
        SET @ResultMessage = 'Errore durante la cancellazione. Operazione annullata.';
        RAISERROR(@ResultMessage, 16, 1);
    END CATCH;
END;
GO
