USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[GetAllBookComplete]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 19/12/24
-- Description:	Trova i libri completo con ID
-- =============================================
CREATE PROCEDURE [dbo].[GetAllBookComplete]
	-- Add the parameters for the stored procedure here
    @idBook INT = NULL,
	@Title NVARCHAR(200) = NULL,
    @AuthorSurname NVARCHAR(200) = NULL,
    @AuthorName NVARCHAR(200) = NULL,
    @Publisher NVARCHAR(200) = NULL
AS
BEGIN
 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@idBook < 0)
    BEGIN
        RAISERROR ('idBook non può essere negativo.', 16, 1);
        RETURN;
    END;

	 -- Debugging: stampa i parametri
	PRINT 'id: ' + ISNULL(CONVERT(VARCHAR(20), @idBook), 'NULL');
    PRINT 'Title: ' + ISNULL(@Title, 'NULL');
    PRINT 'AuthorName: ' + ISNULL(@AuthorName, 'NULL');
    PRINT 'AuthorSurname: ' + ISNULL(@AuthorSurname, 'NULL');
    PRINT 'Publisher: ' + ISNULL(@Publisher, 'NULL');
    -- Insert statements for procedure here
	    -- Query per ottenere i libri
	SELECT *
FROM Books
WHERE (@idBook IS NULL OR @idBook = BookId) AND
      (@Title IS NULL OR Title COLLATE SQL_Latin1_General_CP1_CI_AS = @Title COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@AuthorName IS NULL OR AuthorName COLLATE SQL_Latin1_General_CP1_CI_AS = @AuthorName COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@AuthorSurname IS NULL OR AuthorSurname COLLATE SQL_Latin1_General_CP1_CI_AS = @AuthorSurname COLLATE SQL_Latin1_General_CP1_CI_AS) AND
      (@Publisher IS NULL OR Publisher COLLATE SQL_Latin1_General_CP1_CI_AS = @Publisher COLLATE SQL_Latin1_General_CP1_CI_AS);
END
GO
