USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[GetBookTitleById]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Fornisce il titolo del libro tramite ID
-- ================================================
CREATE PROCEDURE [dbo].[GetBookTitleById]
    -- Parametro di Input
    @IdBook INT,
	-- Parametro di Output
    @BookTitle NVARCHAR(200) OUTPUT
AS
BEGIN

    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- Validazione Parametro
    IF @IdBook IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: Inserire un ID valido.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
        RETURN; -- Esce immediatamente
    END;

    -- Verifica se il libro esiste e restituisce il titolo
    IF EXISTS (
        SELECT 1 
        FROM Books
        WHERE BookId = @IdBook
    )
    BEGIN
        SELECT @BookTitle=Title -- Assegno il valore all output
        FROM Books
        WHERE BookId = @IdBook;
    END
    ELSE
    BEGIN
        -- Messaggio se il libro non esiste
		SET @BookTitle = NULL;
        SET @ResultMessage = 'Errore: Nessun libro trovato con l''ID specificato.';
        RAISERROR(@ResultMessage, 16, 1);
    END;
END;
GO
