USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[GetReservationsDetailsByBookId]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco Corona>
-- Create date: <06/12/2024>
-- Description:	<Tabella con dettagli delle prenotazioni effettuate associate al libro di un id dato>
-- =============================================
CREATE FUNCTION [dbo].[GetReservationsDetailsByBookId](@BookId int )
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
	   r.BookId AS Codice_Libro,
	   b.Title AS Titolo,
       u.Username AS Nome_Utente,
	   r.StartDate AS Inizio_Prestito,
	   r.EndDate AS Fine_Prestito
    FROM Reservations AS r
              JOIN
	            Books AS b ON r.BookId = b.BookId-- Relazione tra Reservation e Book
              JOIN	
                Users AS u ON r.UserId = u.UserId -- Relazione tra Reservation e User
	WHERE r.BookId =@BookId
)

GO
