USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[CheckCountActiveReservationForQuantity]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckCountActiveReservationForQuantity]
    -- Input --
    @Title NVARCHAR(200), 
    @AuthorName NVARCHAR(200),
    @AuthorSurname NVARCHAR(200),
    @Publisher NVARCHAR(200),
    @Quantity INT,
    @VerifyResult INT OUTPUT -- Parametro di output per il risultato della verifica
AS
BEGIN
    -- Evita set di risultati extra
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validazione dei parametri
        IF (@Title IS NULL OR 
           @AuthorName IS NULL OR 
           @AuthorSurname IS NULL OR 
           @Publisher IS NULL OR 
           @Quantity IS NULL)
        BEGIN
            RAISERROR('Tutti i parametri devono essere forniti.', 16, 1);
            SET @VerifyResult = 0;
            RETURN;
        END;

        -- Variabili interne
        DECLARE @QuantityTotalLibrary INT;
        DECLARE @QuantityActiveReservation INT;
        DECLARE @QuantityEffective INT;
        DECLARE @QuantityPostUpdate INT;
        DECLARE @IdBook INT;

        -- Recupera l'ID del libro e la quantità totale in un'unica query
        SELECT 
            @IdBook = BookId,
            @QuantityTotalLibrary = Quantity
        FROM Books
        WHERE TRIM(Title) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Title)
          AND TRIM(AuthorName) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorName)
          AND TRIM(AuthorSurname) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorSurname)
          AND TRIM(Publisher) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Publisher);

        -- Verifica se il libro esiste
        IF @IdBook IS NULL
        BEGIN
            RAISERROR('Libro non trovato.', 16, 1);
            SET @VerifyResult = 0;
            RETURN;
        END;

		DECLARE @ErrorMessageTwo NVARCHAR(MAX);



        -- Recupera il numero di prenotazioni attive per quel libro
        SELECT @QuantityActiveReservation = COUNT(*)
        FROM Reservations
        WHERE BookId = @IdBook 
          AND EndDate > GETDATE();

        -- Calcola la quantità effettiva e quella post-aggiornamento
        SET @QuantityEffective = @QuantityTotalLibrary - @QuantityActiveReservation;
        SET @QuantityPostUpdate = @QuantityEffective + @Quantity;

        -- Caso 1: Nessun prestito attivo
        IF @QuantityActiveReservation = 0
        BEGIN
            IF @QuantityPostUpdate >= 0
            BEGIN
                SET @VerifyResult = 1; -- Verifica valida
            END
            ELSE
            BEGIN  
			            SET @ErrorMessageTwo = 'La giacenza in biblioteca non può essere inferiore a 0.'
			                + CHAR(13) + CHAR(10) + 'Quantità decrementabile consentita: ' 
                            + CAST(@QuantityEffective AS NVARCHAR);
                     -- Genera l'errore
                       RAISERROR(@ErrorMessageTwo, 16, 1);


                SET @VerifyResult = 0;
            END;
            RETURN;
        END;

        -- Caso 2: Prestiti attivi e verifica quantità post-aggiornamento
        IF @QuantityActiveReservation > 0
        BEGIN
            IF @QuantityPostUpdate >= @QuantityActiveReservation AND @QuantityPostUpdate >= 0
            BEGIN
                SET @VerifyResult = 1; -- Verifica valida
            END
            ELSE
            BEGIN
                -- Controllo specifico per evitare che @QuantityPostUpdate sia 0
                IF @QuantityPostUpdate < 0
                BEGIN
                    
                       SET @ErrorMessageTwo = 'La giacenza in biblioteca non può essere inferiore a 0.'
			                + CHAR(13) + CHAR(10) + 'Quantità decrementabile consentita: ' 
                            + CAST(@QuantityEffective AS NVARCHAR);
                     -- Genera l'errore
                       RAISERROR(@ErrorMessageTwo, 16, 1);
                SET @VerifyResult = 0;
                  
				  
				  
				  SET @VerifyResult = 0;
                END
                ELSE
                BEGIN
                    --RAISERROR('Errore: La giacenza non può essere inferiore al numero di copie prestate o a 0.', 16, 1);
                    SET @VerifyResult = 1;
                END;
            END;
            RETURN;
        END;
    END TRY
    BEGIN CATCH
        -- Gestione degli errori
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Errore durante l''esecuzione: %s', 16, 1, @ErrorMessage);
        SET @VerifyResult = 0;
    END CATCH;
END;
GO
