USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[UpdateQuantityBook]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateQuantityBook] 
    -- Parametri di Input
    @IdBook INT,
    @NewQuantity INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);
    DECLARE @VerifyResult INT; -- Risultato della verifica
    DECLARE @Title NVARCHAR(200);
    DECLARE @AuthorName NVARCHAR(200);
    DECLARE @AuthorSurname NVARCHAR(200);
    DECLARE @Publisher NVARCHAR(200);
    DECLARE @CurrentQuantity INT;

    -- Validazione Parametri
    IF (@IdBook IS NULL OR @NewQuantity IS NULL)
    BEGIN
        SET @ResultMessage = 'Errore: Inserire TUTTI i Parametri.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
        RETURN; -- Esci
    END;

    -- Recupera i dettagli del libro e verifica se esiste
    SELECT 
        @Title = Title,
        @AuthorName = AuthorName,
        @AuthorSurname = AuthorSurname,
        @Publisher = Publisher,
        @CurrentQuantity = Quantity
    FROM Books
    WHERE BookId = @IdBook;

    IF @Title IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: Il libro con l''ID specificato non esiste.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
        RETURN; -- Esci
    END;

    -- Controllo diretto per bloccare quantità negative
    IF @NewQuantity <= 0
    BEGIN
        -- Chiamata a CheckCountActiveReservationForQuantity
        EXEC CheckCountActiveReservationForQuantity
            @Title = @Title,
            @AuthorName = @AuthorName,
            @AuthorSurname = @AuthorSurname,
            @Publisher = @Publisher,
            @Quantity = @NewQuantity, 
            @VerifyResult = @VerifyResult OUTPUT;

        -- Verifica il risultato della procedura di controllo
        IF @VerifyResult = 0
        BEGIN
            SET @ResultMessage = 'Errore: La quantità richiesta non è valida. Operazione annullata.';
            RAISERROR(@ResultMessage, 16, 1);
            RETURN;
        END;
    END;

    -- Aggiorna la quantità in una transazione
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Aggiorna la quantità del libro
        UPDATE Books
        SET Quantity = @NewQuantity
        WHERE BookId = @IdBook;

        -- Messaggio di successo
        SET @ResultMessage = 'Quantità aggiornata con successo.';
        SELECT @ResultMessage AS ResultMessage;

        -- Conferma la transazione
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Annulla la transazione in caso di errore
        IF XACT_STATE() <> 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        -- Restituisce un messaggio di errore
        SET @ResultMessage = 'Errore durante l''aggiornamento della quantità. Operazione annullata.';
        RAISERROR(@ResultMessage, 16, 1); -- Restituisce un errore personalizzato
    END CATCH;
END;
GO
