USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEndDateReservation]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 09/12/2024
-- Description:	Aggiornamento della reservation della End Date con data di oggi
-- =============================================
CREATE PROCEDURE [dbo].[UpdateEndDateReservation]
    @UserId INT,
    @BookId INT,
    @IdReservation INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);

    -- VALIDAZIONE PARAMETRI
    IF @UserId <= 0 OR @BookId <= 0 OR @IdReservation <= 0
    BEGIN
        SET @ResultMessage = 'Errore: Parametri non validi. Tutti gli ID devono essere maggiori di zero.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    -- Verifica l'esistenza della prenotazione associata all'utente e al libro
    IF NOT EXISTS (
        SELECT 1
        FROM Reservations
        WHERE Id = @IdReservation
          AND UserId = @UserId
          AND BookId = @BookId
    )
    BEGIN
        SET @ResultMessage = 'Errore: La prenotazione specificata non esiste o non corrisponde agli ID forniti.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    -- Gestione della transazione per l'aggiornamento
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Aggiorna la colonna EndDate con la data corrente
        UPDATE Reservations
        SET EndDate = GETDATE()
        WHERE Id = @IdReservation;

        -- Conferma la transazione
        COMMIT TRANSACTION;

        -- Messaggio di successo
        SET @ResultMessage = 'Aggiornamento della data di fine effettuato con successo.';
        PRINT @ResultMessage; -- Messaggio di successo
    END TRY
    BEGIN CATCH
        -- Annulla la transazione in caso di errore
        ROLLBACK TRANSACTION;

        -- Restituisce un messaggio di errore specifico
        RAISERROR('Errore durante l''aggiornamento della data di fine. Operazione annullata.', 16, 1);
    END CATCH;
END;
GO
