USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[InsertBook]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertBook]
    @Title NVARCHAR(200), 
    @AuthorName NVARCHAR(200), 
    @AuthorSurname NVARCHAR(200),
    @Publisher NVARCHAR(200),
    @Quantity INT,
    @UpdatedQuantity INT OUTPUT -- Parametro di output per la quantità aggiornata
AS
BEGIN
    -- Evita set di risultati extra
    SET NOCOUNT ON;

    BEGIN TRY
        -- Avvia una transazione
        BEGIN TRANSACTION;

        -- Validazione dei parametri
        IF (@Title IS NULL OR 
           @AuthorName IS NULL OR 
           @AuthorSurname IS NULL OR 
           @Publisher IS NULL OR 
           @Quantity IS NULL OR @Quantity < 0)
        BEGIN
            RAISERROR('Tutti i parametri devono essere forniti e la quantità maggiore o uguale a zero.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Variabile per il risultato della verifica
        DECLARE @VerifyResult INT;

        -- Verifica se il libro esiste
        IF NOT EXISTS (
            SELECT 1
            FROM Books
            WHERE TRIM(Title) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Title)
              AND TRIM(AuthorName) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorName)
              AND TRIM(AuthorSurname) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorSurname)
              AND TRIM(Publisher) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Publisher)
        )
		

        BEGIN
		   -- Controllo sulle quantità --
		    IF (@Quantity<0)
		    BEGIN
            RAISERROR('La quantità di un nuovo libro non può essere < 0', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
            END;

            -- Inserisci il nuovo libro
            INSERT INTO Books (Title, AuthorName, AuthorSurname, Publisher, Quantity)
            VALUES (@Title, @AuthorName, @AuthorSurname, @Publisher, @Quantity);

            -- Imposta la quantità aggiornata
            SET @UpdatedQuantity = @Quantity;
        END
        ELSE
        BEGIN
		
		-- Chiamata alla procedura CheckCountActiveReservationForQuantity
        EXEC CheckCountActiveReservationForQuantity
            @Title = @Title,
            @AuthorName = @AuthorName,
            @AuthorSurname = @AuthorSurname,
            @Publisher = @Publisher,
            @Quantity = @Quantity,
            @VerifyResult = @VerifyResult OUTPUT;

        -- Verifica il risultato
        IF @VerifyResult = 0
        BEGIN
            -- Se la verifica fallisce, annulla la transazione e restituisce un errore
            ROLLBACK TRANSACTION;
            RETURN;
        END;




            -- Aggiorna la quantità del libro esistente
            UPDATE Books
            SET Quantity =Quantity + @Quantity
            WHERE TRIM(Title) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Title)
              AND TRIM(AuthorName) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorName)
              AND TRIM(AuthorSurname) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorSurname)
              AND TRIM(Publisher) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Publisher);

            -- Recupera la quantità aggiornata
            SELECT @UpdatedQuantity = Quantity
            FROM Books
            WHERE TRIM(Title) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Title)
              AND TRIM(AuthorName) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorName)
              AND TRIM(AuthorSurname) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@AuthorSurname)
              AND TRIM(Publisher) COLLATE SQL_Latin1_General_CP1_CI_AS = TRIM(@Publisher);
        END;

        -- Conferma la transazione
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Gestione degli errori
        IF XACT_STATE() <> 0 -- Verifica se c'è una transazione attiva
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('%s', 16, 1, @ErrorMessage);
        RETURN;
    END CATCH;
END;
GO
