USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[InsertReservation]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertReservation]
    @IdUser INT,
    @IdBook INT,
    @startDate DATE,
    @endDate DATE
AS
BEGIN
   -- SET NOCOUNT ON;

    -- Dichiarazione per il risultato
    DECLARE @ResultMessage NVARCHAR(200);
    DECLARE @NewReservationId INT;

    -- Validazione dei parametri
    IF @IdUser IS NULL OR @IdBook IS NULL OR @startDate IS NULL OR @endDate IS NULL
    BEGIN
        SET @ResultMessage = 'Errore: Inserire tutti i parametri obbligatori.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    IF @startDate >= @endDate
    BEGIN
        SET @ResultMessage = 'Errore: La data di inizio deve essere precedente alla data di fine.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    -- Validazione dell'utente e del libro
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @IdUser)
    BEGIN
        SET @ResultMessage = 'Errore: L''utente specificato non esiste.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Books WHERE BookId = @IdBook)
    BEGIN
        SET @ResultMessage = 'Errore: Il libro specificato non esiste.';
        RAISERROR(@ResultMessage, 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Inserisce la prenotazione
        INSERT INTO Reservations (UserId, BookId, StartDate, EndDate)
        VALUES (@IdUser, @IdBook, @startDate, @endDate);

        -- Recupera l'ID della nuova prenotazione
        SET @NewReservationId = SCOPE_IDENTITY();

        -- Messaggio di successo con l'ID generato
        SET @ResultMessage = 'Prenotazione aggiunta con successo. ID Prenotazione: ' + CAST(@NewReservationId AS NVARCHAR);
        SELECT @ResultMessage AS ResultMessage;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- Messaggio di errore
        SET @ResultMessage = 'Errore: La prenotazione non è stata inserita con successo.';
        RAISERROR(@ResultMessage, 16, 1);
    END CATCH;
END;
GO
