USE [Library_Marco_Corona]
GO
/****** Object:  View [dbo].[GetAllReservationBooksUsers]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetAllReservationBooksUsers] AS

SELECT b.Title AS Titolo,
       u.Username AS Nome_Utente,
	   r.StartDate AS Inizio_Prestito,
	   r.EndDate AS Fine_Prestito
FROM Books AS b
JOIN
	Reservations AS r ON r.BookId = b.BookId -- Relazione tra Reservation e Book
JOIN	
    Users AS u ON r.UserId = u.UserId -- Relazione tra Reservation e User
GO
