USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[HistoryByBookOrUserIdOptional]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco
-- Create date: 09/12/2024
-- Description:	Filtra per parametri di libri o IdUser
-- =============================================
CREATE PROCEDURE [dbo].[HistoryByBookOrUserIdOptional](
	-- Add the parameters for the stored procedure here
		-- Parametri di Input
	@Title NVARCHAR(200) = NULL,
    @AuthorSurname NVARCHAR(200) = NULL,
    @AuthorName NVARCHAR(200) = NULL,
    @Publisher NVARCHAR(200) = NULL,
	@IdUser INT = NULL,
	@IncludeActive BIT = NULL -- Nuovo parametro per filtrare i prestiti
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
    FROM dbo.HistoryByBookOptionalParameters(@Title,@AuthorName,@AuthorSurname,@Publisher,@IdUser,@IncludeActive );
END
GO
