USE [Library_Marco_Corona]
GO
/****** Object:  UserDefinedFunction [dbo].[HistoryCompleteByActiveOrNotOrAll]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		<Author Name>
-- Create date: <Create Date>
-- Description:	Restituisce uno storico completo dei prestiti,
--              con la possibilità di filtrare per attivi, non attivi, o tutti.
-- ================================================
CREATE FUNCTION [dbo].[HistoryCompleteByActiveOrNotOrAll]
(	
	-- Parametri Input
    @IncludeActive BIT = NULL -- Filtro per prestiti attivi (1), non attivi (0), o tutti (NULL)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
	   r.BookId AS Codice_Libro,
	   b.Title AS Titolo,
       u.Username AS Nome_Utente,
	   r.StartDate AS Inizio_Prestito,
	   r.EndDate AS Fine_Prestito,
	   CASE 
	        WHEN r.EndDate > GETDATE() THEN 'Attivo'
	        ELSE 'Non Attivo'
	   END AS Stato
	FROM 
	   Reservations AS r
	JOIN 
	   Books AS b ON r.BookId = b.BookId -- Collegamento tra Reservations e Books
	JOIN 
	   Users AS u ON r.UserId = u.UserId -- Collegamento tra Reservations e Users
	WHERE 
		(
			 @IncludeActive IS NULL OR -- Mostra tutti i prestiti se NULL
			(@IncludeActive = 1 AND r.EndDate > GETDATE()) OR -- Prestiti attivi
			(@IncludeActive = 0 AND r.EndDate <= GETDATE()) -- Prestiti non attivi
		)
);
GO
