USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[ManipulateBookByAnagraphic]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marco Corona
-- Create date: 06/12/2024
-- Description:	Stored procedure finalizzata all'inserimento e alla cancellazione di un libro dalla libreri
-- Input : titolo,Nome Autore,Cognome Autore, Casa Editrice
-- =============================================
CREATE PROCEDURE [dbo].[ManipulateBookByAnagraphic] 
    --------PARAMETRI INPUT----------
    @Title NVARCHAR(200), 
    @AuthorName NVARCHAR(200), 
    @AuthorSurname NVARCHAR(200),
    @Publisher NVARCHAR(200),
    @Quantity INT,
    @InsertOrDelete CHAR(1) = NULL,
    -------PARAMETRI OUTPUT----------
    @UpdatedQuantity INT OUTPUT -- Parametro di output per la quantità aggiornata
AS
BEGIN

    SET NOCOUNT ON;

    -- CASO 0: Validazione dei parametri
    IF @Title IS NULL OR 
       @AuthorName IS NULL OR 
       @AuthorSurname IS NULL OR 
       @Publisher IS NULL OR 
       @Quantity IS NULL OR 
       @InsertOrDelete IS NULL
    BEGIN
        PRINT 'Errore: Tutti i parametri devono essere forniti. Nessun parametro può essere NULL.';
        RETURN; -- Interrompe l'esecuzione
    END;

    -- CASO 0.1: Validazione del valore di @InsertOrDelete
    IF LOWER(@InsertOrDelete) != 'd' AND LOWER(@InsertOrDelete) != 'i'
    BEGIN
        PRINT 'Errore: Inserisci "d" per eliminare o "i" per inserire.';
        RETURN; -- Interrompe l'esecuzione
    END;

    -- CASO 1: Inserimento o aggiornamento
    IF LOWER(@InsertOrDelete) = 'i'
    BEGIN
        -- Verifica se il libro esiste
        IF NOT EXISTS ( 
            SELECT 1 
            FROM Books AS b
            WHERE b.Title = @Title 
              AND b.AuthorName = @AuthorName 
              AND b.AuthorSurname = @AuthorSurname 
              AND b.Publisher = @Publisher
        )
        BEGIN
            -- Il libro non esiste, lo inserisco
            PRINT 'Il libro non esiste e verrà aggiunto all elenco dei libri.';
            INSERT INTO Books (Title, AuthorName, AuthorSurname, Publisher, Quantity)
            VALUES (@Title, @AuthorName, @AuthorSurname, @Publisher, @Quantity);

            -- Imposta la quantità aggiornata
            SET @UpdatedQuantity = @Quantity;
        END
        ELSE
        BEGIN
            -- Il libro esiste, aggiorno la quantità
            PRINT 'Il libro esiste già. Aggiorno la quantità.';
            UPDATE Books
            SET Quantity = Quantity + @Quantity -- Aggiungi la nuova quantità alla quantità esistente
            WHERE Title = @Title 
              AND AuthorName = @AuthorName 
              AND AuthorSurname = @AuthorSurname 
              AND Publisher = @Publisher;

            -- Recupera la quantità aggiornata
            SELECT @UpdatedQuantity = Quantity
            FROM Books
            WHERE Title = @Title 
              AND AuthorName = @AuthorName 
              AND AuthorSurname = @AuthorSurname 
              AND Publisher = @Publisher;
        END;
    END;

    -- CASO 2: Cancellazione
ELSE IF LOWER(@InsertOrDelete) = 'd'
    BEGIN
        -- Verifica se il libro esiste
        IF EXISTS ( 
            SELECT 1
            FROM Books AS b
            WHERE b.Title = @Title 
              AND b.AuthorName = @AuthorName
              AND b.AuthorSurname = @AuthorSurname
              AND b.Publisher = @Publisher
        )
        BEGIN
            -- Recupera l'ID del libro
            DECLARE @BookId INT;
            SELECT @BookId = BookId
            FROM Books
            WHERE Title = @Title 
              AND AuthorName = @AuthorName
              AND AuthorSurname = @AuthorSurname
              AND Publisher = @Publisher;

            -- Inizia una transazione per gestire l'annullamento in caso di errore
            BEGIN TRY
                BEGIN TRANSACTION;

                -- Cancella le prenotazioni associate al libro
                DELETE FROM Reservations
                WHERE BookId = @BookId;

                PRINT 'Tutte le prenotazioni legate al libro sono state cancellate.';

                -- Cancella il libro dalla tabella Books
                DELETE FROM Books
                WHERE BookId = @BookId;

                PRINT 'Il libro è stato eliminato con successo.';

                -- Conferma la transazione
                COMMIT TRANSACTION;
            END TRY
            BEGIN CATCH
                -- Annulla la transazione in caso di errore
                ROLLBACK TRANSACTION;
                PRINT 'Errore durante la cancellazione. Operazione annullata.';
            END CATCH;
        END
        ELSE
        BEGIN
            PRINT 'Il libro non esiste. Nessuna operazione di cancellazione eseguita.';
        END;
    END;
END;
GO
