USE [Library_Marco_Corona]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBookProperties]    Script Date: 02/05/2025 15:24:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBookProperties]
    @idOldBook INT,
    @newTitle NVARCHAR(200),
    @newAuthorName NVARCHAR(200),
    @newAuthorSurname NVARCHAR(200),
    @newPublisher NVARCHAR(200)
AS
BEGIN
   -- SET NOCOUNT ON;

    -- Validazione dei parametri
    IF (@idOldBook IS NULL OR
        @newTitle IS NULL OR 
        @newAuthorName IS NULL OR 
        @newAuthorSurname IS NULL OR 
        @newPublisher IS NULL)
    BEGIN
        RAISERROR('Errore: Tutti i parametri devono essere forniti. Nessun parametro può essere NULL.', 16, 1);
        RETURN;
    END;

    -- Verifica se il libro esiste
    IF NOT EXISTS (
        SELECT 1
        FROM Books
        WHERE BookId = @idOldBook
    )
    BEGIN
        RAISERROR('Errore: Il libro con l''ID fornito non esiste.', 16, 1);
        RETURN;
    END;

    -- Aggiornamento dei dati del libro
    BEGIN TRY
        UPDATE Books
        SET 
            Title = @newTitle,
            AuthorName = @newAuthorName,
            AuthorSurname = @newAuthorSurname,
            Publisher = @newPublisher
        WHERE BookId = @idOldBook;

        PRINT 'Aggiornamento completato con successo.';
    END TRY
    BEGIN CATCH
        RAISERROR('Errore durante l''aggiornamento del libro.', 16, 1);
    END CATCH;
END;
GO
